<section class="about section-padding" data-aos="zoom-in-up" id="about">
  <div class="container">
    <div class="wrap">
      <img
        srcset="/img/about/rectangle@1x.jpg 1x, /img/about/rectangle@2x.jpg 2x"
        src="/img/about/rectangle@1x.jpg"
        alt="Image team"
        width="640"
        height="654"
      />
      <div class="info-wrap">
        <h2 class="title">Про компанію</h2>
        <div class="desc-wrap">
          <p class="desc">
            Давно з'ясовано, що при оцінці дизайну та композиції текст, що читається, заважає
            зосередитися. Lorem Ipsum використовують тому, що той забезпечує більш менш стандартне
            заповнення шаблону
          </p>
          <p class="desc">
            Давно з'ясовано, що при оцінці дизайну та композиції текст, що читається, заважає
            зосередитися. Lorem Ipsum використовують тому, що той забезпечує більш менш стандартне
            заповнення шаблону
          </p>
          <p class="desc">
            Давно з'ясовано, що при оцінці дизайну та композиції текст, що читається, заважає
            зосередитися. Lorem Ipsum використовують тому, що той забезпечує більш менш стандартне
            заповнення шаблону
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
