<section class="achieve section-padding" id="achieve">
  <div class="container">
    <h2 class="visually-hidden">Досягненя</h2>
    <div class="swiper">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <p class="text">більше</p>
          <p class="number">287</p>
          <svg class="icon-vinok" width="176" height="72">
            <use href="/img/icons.svg#icon-vinok"></use>
          </svg>
          <p class="desc">Років успішної роботи та співпраці</p>
        </div>

        <div class="swiper-slide">
          <p class="text">більше</p>
          <p class="number">3</p>
          <svg class="icon-vinok" width="176" height="72">
            <use href="/img/icons.svg#icon-vinok"></use>
          </svg>
          <p class="desc">Років успішної роботи та співпраці</p>
        </div>

        <div class="swiper-slide">
          <p class="text">більше</p>
          <p class="number">997</p>
          <svg class="icon-vinok" width="176" height="72">
            <use href="/img/icons.svg#icon-vinok"></use>
          </svg>
          <p class="desc">Років успішної роботи та співпраці</p>
        </div>
      </div>
    </div>
  </div>
</section>
