<footer>
  <div class="container">
    <ul class="top-list">
      <li class="top-item">
        <a class="logo" href="./index.html">ostapwkit</a>
        <p class="general desc">UI/UX design</p>
      </li>
      <li class="top-item">
        <a class="general" href="#about">Про компанію</a>
        <a class="general" href="#range">Каталог</a>
        <a class="general" href="#qustions">Питання та відповіді</a>
        <a class="general" href="#offer">Новини</a>
      </li>
      <li class="top-item">
        <a class="general" href="#reviews">Статті та огляди</a>
        <a class="general" href="#contact">Контакти</a>
      </li>
      <li class="top-item">
        <p class="general">Україна, Lviv</p>
        <p class="general">
          з 8:00 до 21:00 <br />
          (без вихідних)
        </p>
        <a class="general" href="email:procombiz@gmail.com">procombiz@gmail.com</a>
      </li>
      <li class="top-item">
        <a class="general" href="tel:+380939842048">+38 093 984 20 48 </a>
        <a class="general" href="tel:+380939842048">+38 093 984 20 48</a>
      </li>
    </ul>
    <ul class="bottom-list">
      <li class="bottom-item"><p class="general">© 2011–2023</p></li>
      <li class="bottom-item"><a class="general" href="">Правила сайту</a></li>
      <li class="bottom-item"><a class="general" href="">Shtay O.</a></li>
      <li class="bottom-item">
        <svg class="icon" width="18" height="18">
          <use href="/img/icons.svg#icon-pacman"></use>
        </svg>
        <svg class="icon" width="28" height="18">
          <use href="/img/icons.svg#icon-mascard"></use>
        </svg>
      </li>
    </ul>
  </div>
</footer>
