<header>
  <div id="header">
    <div class="container wrap">
      <a class="logo" href="./index.html">ostapw<span>kit</span></a>
      <ul class="menu">
        <li class="menu-item">
          <a class="catalog" href="">
            <svg class="catalog-icon" width="16" height="17">
              <use href="/img/icons.svg#icon-catalog"></use>
            </svg>
            Каталог
          </a>
        </li>
        <li class="menu-item">
          <ul class="under-menu">
            <li><a class="under-menu-link" href="#about">Про компанію</a></li>
            <li><a class="under-menu-link" href="#achieve">Переваги</a></li>
            <li><a class="under-menu-link" href="#offer">Новини</a></li>
            <li><a class="under-menu-link" href="#reviews">Статті</a></li>
            <li><a class="under-menu-link" href="#contact">Контакти</a></li>
          </ul>
        </li>
      </ul>
      <button aria-label="search" type="button" class="search">
        <svg class="search-icon" width="24" height="24">
          <use href="/img/icons.svg#icon-search"></use>
        </svg>
      </button>
    </div>
  </div>
</header>
