<section class="hero" id="hero">
  <div class="container">
    <div class="swiper">
      <div class="swiper-wrapper">
        <!-- Slides -->
        <div class="swiper-slide">
          <p class="slide-number">01</p>
          <h1>
            <span>Це професійний макет</span><br />
            для вашого сайту.
          </h1>
          <p class="desc">
            Це професійний макет для вашого сайту.<br />
            Тут ви можете коротко описати, що пропонує ваша компанія.
          </p>
          <div class="wrap-btn">
            <a class="link" href="">Детальніше</a>
            <button class="btn btn-open" type="button">Замовити консультацію</button>
          </div>
        </div>

        <div class="swiper-slide">
          <p class="slide-number">02</p>
          <h1>
            <span>Це професійний макет</span><br />
            для вашого сайту.
          </h1>
          <p class="desc">
            Це професійний макет для вашого сайту.<br />
            Тут ви можете коротко описати, що пропонує ваша компанія.
          </p>
          <div class="wrap-btn">
            <a class="link" href="">Детальніше</a>
            <button class="btn btn-open" type="button">Замовити консультацію</button>
          </div>
        </div>

        <div class="swiper-slide">
          <p class="slide-number">03</p>
          <h1>
            <span>Це професійний макет</span><br />
            для вашого сайту.
          </h1>
          <p class="desc">
            Це професійний макет для вашого сайту.<br />
            Тут ви можете коротко описати, що пропонує ваша компанія.
          </p>
          <div class="wrap-btn">
            <a class="link" href="">Детальніше</a>
            <button class="btn btn-open" type="button">Замовити консультацію</button>
          </div>
        </div>

        <div class="swiper-slide">
          <p class="slide-number">04</p>
          <h1>
            <span>Це професійний макет</span><br />
            для вашого сайту.
          </h1>
          <p class="desc">
            Це професійний макет для вашого сайту.<br />
            Тут ви можете коротко описати, що пропонує ваша компанія.
          </p>
          <div class="wrap-btn">
            <a class="link" href="">Детальніше</a>
            <button class="btn btn-open" type="button">Замовити консультацію</button>
          </div>
        </div>
      </div>

      <!-- If we need pagination -->
      <div class="swiper-pagination"></div>
    </div>
  </div>
</section>
