<section class="offer section-padding" id="offer">
  <div class="container">
    <h2 class="title" data-aos="fade-up">Ми пропонуємо найкраще</h2>
    <div class="swiper">
      <div class="swiper-wrapper">
        <!-- Slides -->
        <div class="swiper-slide">
          <img
            srcset="/img/offer/offer-1-@1x.jpg 1x, /img/offer/offer-1-@2x.jpg 2x"
            src="/img/offer/offer-1-@1x.jpg"
            alt="Image"
            width="310"
            height="165"
          />
          <div class="card-desc">
            <h3 class="subtitle">Назва блоку, чи послуги</h3>
            <a class="link" href="">Дивитись каталог</a>
          </div>
        </div>

        <div class="swiper-slide">
          <img
            srcset="/img/offer/offer-2-@1x.jpg 1x, /img/offer/offer-2-@2x.jpg 2x"
            src="/img/offer/offer-2-@1x.jpg"
            alt="Image"
            width="310"
            height="165"
          />
          <div class="card-desc">
            <h3 class="subtitle">Назва блоку, чи послуги</h3>
            <a class="link" href="">Дивитись каталог</a>
          </div>
        </div>

        <div class="swiper-slide">
          <img
            srcset="/img/offer/offer-3-@1x.jpg 1x, /img/offer/offer-3-@2x.jpg 2x"
            src="/img/offer/offer-3-@1x.jpg"
            alt="Image"
            width="310"
            height="165"
          />
          <div class="card-desc">
            <h3 class="subtitle">Назва блоку, чи послуги</h3>
            <a class="link" href="">Дивитись каталог</a>
          </div>
        </div>

        <div class="swiper-slide">
          <img
            srcset="/img/offer/offer-4-@1x.jpg 1x, /img/offer/offer-4-@2x.jpg 2x"
            src="/img/offer/offer-4-@1x.jpg"
            alt="Image"
            width="310"
            height="165"
          />
          <div class="card-desc">
            <h3 class="subtitle">Назва блоку, чи послуги</h3>
            <a class="link" href="">Дивитись каталог</a>
          </div>
        </div>
      </div>

      <div class="swiper-pagination"></div>
    </div>
  </div>
</section>
