<section class="qustions section-padding" id="qustions">
  <div class="container wrap">
    <h2 class="title" data-aos="fade-up">Поширені запитання</h2>
    <p class="desc">Тут ви знайдете відповіді на найчастіші запитання</p>
    <ul class="list-qustions">
      <li class="item-qustion">
        <div class="qustion-wrap">
          <h3 class="subtitle">Основні тенденції розвитку ринку?</h3>
          <svg class="icon-arrow" width="18" height="18">
            <use href="/img/icons.svg#icon-circle-down"></use>
          </svg>
        </div>
        <p class="desc">
          Мета нашої компанії - скоротити витрати, збільшити обороти та прибутковість вашого
          бізнесу. Для цього ми вивчаємо бізнес-процеси компанії, аналізуємо їх та шукаємо вузькі
          місця. Потім пропонуємо рішення, яке забезпечить економічний чи організаційний ефект.
        </p>
      </li>
      <li class="item-qustion">
        <div class="qustion-wrap">
          <h3 class="subtitle">Основні тенденції розвитку ринку?</h3>
          <svg class="icon-arrow" width="18" height="18">
            <use href="/img/icons.svg#icon-circle-down"></use>
          </svg>
        </div>
        <p class="desc">
          Мета нашої компанії - скоротити витрати, збільшити обороти та прибутковість вашого
          бізнесу. Для цього ми вивчаємо бізнес-процеси компанії, аналізуємо їх та шукаємо вузькі
          місця. Потім пропонуємо рішення, яке забезпечить економічний чи організаційний ефект.
        </p>
      </li>
      <li class="item-qustion">
        <div class="qustion-wrap">
          <h3 class="subtitle">Основні тенденції розвитку ринку?</h3>
          <svg class="icon-arrow" width="18" height="18">
            <use href="/img/icons.svg#icon-circle-down"></use>
          </svg>
        </div>
        <p class="desc">
          Мета нашої компанії - скоротити витрати, збільшити обороти та прибутковість вашого
          бізнесу. Для цього ми вивчаємо бізнес-процеси компанії, аналізуємо їх та шукаємо вузькі
          місця. Потім пропонуємо рішення, яке забезпечить економічний чи організаційний ефект.
        </p>
      </li>
      <li class="item-qustion">
        <div class="qustion-wrap">
          <h3 class="subtitle">Основні тенденції розвитку ринку?</h3>
          <svg class="icon-arrow" width="18" height="18">
            <use href="/img/icons.svg#icon-circle-down"></use>
          </svg>
        </div>
        <p class="desc">
          Мета нашої компанії - скоротити витрати, збільшити обороти та прибутковість вашого
          бізнесу. Для цього ми вивчаємо бізнес-процеси компанії, аналізуємо їх та шукаємо вузькі
          місця. Потім пропонуємо рішення, яке забезпечить економічний чи організаційний ефект.
        </p>
      </li>
      <li class="item-qustion">
        <div class="qustion-wrap">
          <h3 class="subtitle">Основні тенденції розвитку ринку?</h3>
          <svg class="icon-arrow" width="18" height="18">
            <use href="/img/icons.svg#icon-circle-down"></use>
          </svg>
        </div>
        <p class="desc">
          Мета нашої компанії - скоротити витрати, збільшити обороти та прибутковість вашого
          бізнесу. Для цього ми вивчаємо бізнес-процеси компанії, аналізуємо їх та шукаємо вузькі
          місця. Потім пропонуємо рішення, яке забезпечить економічний чи організаційний ефект.
        </p>
      </li>
    </ul>
    <button class="link-more">Смотреть все</button>
  </div>
</section>
