<section class="range section-padding" id="range">
  <div class="container">
    <h2 class="title" data-aos="fade-up">Асортимент</h2>
    <p class="desc">Вже давно відомо, що читабельний зміст буде заважати зосередит.</p>
    <ul class="button-list">
      <li><button class="btn-chois btn-chois-unactive" type="button" id="new">Новинки</button></li>
      <li><button class="btn-chois btn-chois-unactive" type="button" id="action">Акції</button></li>
      <li>
        <button class="btn-chois btn-chois-unactive" type="button" id="popular">Популярні</button>
      </li>
    </ul>

    <ul class="content-list"></ul>

    <button class="btn-more" type="button">Смотреть все</button>
  </div>
</section>
