<section class="reviews section-padding" id="reviews">
  <div class="container">
    <h2 class="title" data-aos="fade-up">Маємо 125+ задоволених клієнтів та виконаних проектів</h2>
    <p class="desc">Реальні відгуки від наших клієнтів</p>
    <svg class="icon-untitled" width="111" height="93">
      <use href="/img/icons.svg#icon-untitled"></use>
    </svg>
  </div>

  <div class="swiper">
    <div class="swiper-wrapper">
      <div class="swiper-slide">
        <p class="data">12/01/2023</p>
        <h3 class="name">Відгук від Володимира К.</h3>
        <p class="rev">
          Давно з'ясовано, що при оцінці дизайну та композиції текст, що читається, заважає
          зосередитися. Lorem Ipsum використовують тому, що той забезпечує більш менш стандартне
          заповнення шаблону
        </p>
      </div>

      <div class="swiper-slide">
        <p class="data">12/01/2023</p>
        <h3 class="name">Відгук від Володимира К.</h3>
        <p class="rev">
          Давно з'ясовано, що при оцінці дизайну та композиції текст, що читається, заважає
          зосередитися. Lorem Ipsum використовують тому, що той забезпечує більш менш стандартне
          заповнення шаблону
        </p>
      </div>

      <div class="swiper-slide">
        <p class="data">12/01/2023</p>
        <h3 class="name">Відгук від Володимира К.</h3>
        <p class="rev">
          Давно з'ясовано, що при оцінці дизайну та композиції текст, що читається, заважає
          зосередитися. Lorem Ipsum використовують тому, що той забезпечує більш менш стандартне
          заповнення шаблону
        </p>
      </div>

      <div class="swiper-slide">
        <p class="data">12/01/2023</p>
        <h3 class="name">Відгук від Володимира К.</h3>
        <p class="rev">
          Давно з'ясовано, що при оцінці дизайну та композиції текст, що читається, заважає
          зосередитися. Lorem Ipsum використовують тому, що той забезпечує більш менш стандартне
          заповнення шаблону
        </p>
      </div>
    </div>

    <div class="swiper-button-next swiper-btn"></div>
    <div class="swiper-button-prev swiper-btn"></div>
  </div>
  <a class="link-more" href="">Смотреть все</a>
</section>
