<section class="stages section-padding">
  <div class="container">
    <h2 class="title" data-aos="fade-up">Етапи роботи з нами</h2>
    <p class="desc">Усього 3 кроки для нашої співпраці</p>
    <ul class="list">
      <li class="list-item">
        <p class="number">1</p>
        <h3 class="subtitle">Заповніть заявку на сайті</h3>
        <button class="btn btn-open" type="button">Відправити заявку</button>
      </li>
      <li class="list-item">
        <p class="number">2</p>
        <h3 class="subtitle">Менеджер надішле вам документи</h3>
        <p class="desc">Це відбувається протягом 1-2 годин після заявки</p>
      </li>
      <li class="list-item">
        <p class="number">3</p>
        <h3 class="subtitle">Підписуємо договір</h3>
        <p class="desc">Ви підписуєте договір і надсилаєте його нам поштою</p>
      </li>
    </ul>
  </div>
</section>
