<section class="top-bar">
  <div class="container wrap">
    <a class="link-place" href="https://www.google.com.ua/maps" target="_blank"> Ukraine, Lviv </a>
    <address>
      <ul class="tel-list">
        <li><a class="tel" href="tel:+380939842048">+38 093 984 20 48</a></li>
        <li><a class="tel" href="tel:+380968526126">+38 096 852 61 26</a></li>
      </ul>
      <ul class="soc-list">
        <li class="soc-list-item">
          <a class="link" href="https://www.instagram.com" target="_blank">
            <p class="link-text">INSTAGRAM</p>
            <svg class="link-icon" width="21" height="21">
              <use href="/img/icons.svg#icon-instagram"></use>
            </svg>
          </a>
        </li>
        <li class="soc-list-item">
          <a class="link" href="https://web.telegram.org" target="_blank">
            <p class="link-text">TELEGRAM</p>
            <svg class="link-icon" width="21" height="21">
              <use href="/img/icons.svg#icon-telegram"></use>
            </svg>
          </a>
        </li>
        <li class="soc-list-item">
          <a class="link" href="https://web.whatsapp.com" target="_blank">
            <p class="link-text">WHATSAPP</p>
            <svg class="link-icon" width="21" height="21">
              <use href="/img/icons.svg#icon-whatsapp"></use>
            </svg>
          </a>
        </li>
      </ul>
    </address>
  </div>
</section>
