<section class="why-we section-padding" id="why-we">
  <div class="container">
    <h2 class="title" data-aos="fade-up">Чому потрібно вибрати саме нас?</h2>
    <p class="desc">
      Мета нашої компанії - скоротити витрати, збільшити обороти та прибутковість вашого бізнесу.
      <span>
        Для цього ми вивчаємо бізнес-процеси компанії, аналізуємо їх та шукаємо вузькі місця. Потім
        пропонуємо рішення, яке забезпечить економічний чи організаційний ефект.
      </span>
    </p>
    <ul class="why-we-list">
      <li class="list-item">
        <div class="icon-wrap">
          <svg class="icon" width="37" height="25">
            <use href="/img/icons.svg#icon-car"></use>
          </svg>
        </div>
        <div class="wrap-desc">
          <h3 class="subtitle">Доставка до двери</h3>
          <p class="desc">Бесплатно доставляем заказы от 3000 по всей стране.</p>
        </div>
      </li>
      <li class="list-item">
        <div class="icon-wrap">
          <svg class="icon" width="33" height="28">
            <use href="/img/icons.svg#icon-shop"></use>
          </svg>
        </div>
        <div class="wrap-desc">
          <h3 class="subtitle">Лояльность</h3>
          <p class="desc">Добавим подарок в каждый заказ от 1500</p>
        </div>
      </li>
      <li class="list-item">
        <div class="icon-wrap">
          <svg class="icon" width="34" height="37">
            <use href="/img/icons.svg#icon-cards"></use>
          </svg>
        </div>
        <div class="wrap-desc">
          <h3 class="subtitle">Удобная оплата</h3>
          <p class="desc">Картой или наличными</p>
        </div>
      </li>
    </ul>
  </div>
</section>
