<section class="contact section-padding" id="contact">
  <div class="container">
    <h2 class="title" data-aos="fade-up">Зв'яжіться з нами</h2>
    <p class="desc">Зручним для вас способом</p>
    <ul class="contact-list">
      <li class="contact-item">
        <div class="number">1</div>
        <div class="info-wrap">
          <p class="info">Адреса</p>
          <p class="desc">Країна, місто, Назва вулиці, 32</p>
        </div>
      </li>
      <li class="contact-item">
        <div class="number">2</div>
        <div class="info-wrap">
          <p class="info">Телефони</p>
          <a class="link" href="tel:+380939842048">+38 093 984 20 48</a>
          <a class="link" href="tel:+380939842048">+38 093 984 20 48</a>
        </div>
      </li>
      <li class="contact-item">
        <div class="number">3</div>
        <div class="info-wrap">
          <p class="info">Час работи</p>
          <p class="desc">пн-пт 08:00-19:00 сб-нд Вихідні</p>
        </div>
      </li>
      <li class="contact-item">
        <div class="number">4</div>
        <div class="info-wrap">
          <p class="info">Інтрернет пошта</p>
          <a class="link" href="email:procombiz@gmail.com">procombiz@gmail.com</a>
        </div>
      </li>
    </ul>
  </div>
  <iframe
    title="map"
    data-aos="zoom-in"
    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d28746.948003142967!2d30.5068774992162!3d50.44305206145567!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40d4cfeff27a51cb%3A0x1e1226b6a15dcfe!2z0J_Rg9C30LDRgtCwINCl0LDRgtCw!5e0!3m2!1suk!2sua!4v1726594421879!5m2!1suk!2sua"
    width="1440"
    height="548"
    style="border: 0"
    allowfullscreen=""
    loading="lazy"
    referrerpolicy="no-referrer-when-downgrade"
  ></iframe>
</section>
