.stages .list {
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;
}

.stages .list-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 343px;
  height: 276px;
  padding: 24px 30px 30px;
  border-radius: 12px;
  background-color: var(--secondary-background);
  position: relative;
}

.stages .number {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  border: 1px solid var(--text-color-yellow);
  margin-bottom: 16px;
}

.stages .subtitle {
  font-size: 20px;
  text-align: center;
  margin-bottom: 12px;
}

.stages .desc {
  text-align: center;
  font-size: 18px;
  color: var(--text-color-grey-2);
}

.stages .btn {
  background-color: var(--btn-color-yellow);
  border-radius: 2px;
  font-size: 18px;
  width: 189px;
  padding: 12px 0;
  border: 0;
  transition: all 250ms ease-in-out;
}

.stages .btn:is(:hover, :focus) {
  opacity: 0.8;
}

.stages .list-item:not(:last-child)::after {
  content: '';
  position: absolute;
  background-image: url('../img/arrow.svg');
  background-repeat: no-repeat;
  background-position: center;
  width: 67px;
  height: 67px;
  border-radius: 50%;
  background-color: var(--background-light);
  transform: rotate(90deg);
  z-index: 10;
  bottom: -45px;
}

@media (min-width: 768px) and (max-width: 1279px) {
  .stages .list {
    flex-direction: row;
    gap: 18px;
    flex-wrap: wrap;
    justify-content: flex-end;
  }

  .stages .list-item:first-child::after {
    transform: rotate(0);
    bottom: 104.5px;
    right: -40px;
  }

  .stages .list-item:last-child {
    justify-content: center;
  }
}

@media screen and (min-width: 1280px) {
  .stages .list {
    flex-direction: row;
    gap: 20px;
    flex-wrap: nowrap;
    justify-content: center;
  }

  .stages .list-item {
    width: 420px;
  }

  .stages .list-item:not(:last-child)::after {
    transform: rotate(0);
    bottom: 104.5px;
    right: -40px;
  }
}
